header{
    width: 100%;
    background-color: burlywood;
    margin: 0;
    padding: 30px;
    text-align: center;
    color: azure;
    font-size: 20px;
    border: 1px solid brown;
    border-radius: 10px;
}
a{
    color: #000;
    text-decoration-line: none;
    line-break: inherit;
}
.dot {
    background-color: cornsilk;
    border: 2px solid khaki;
}
h3 {
    text-decoration-line: underline;
    text-decoration-color: brown;
    text-shadow:#000
}