* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.btn{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 14px 30px;
}
.contact{
    padding: 10px 20px;
    color: #fff;
    background: #7971ea;
    border-radius: 30px;
    font-size: .7rem;
    font-weight: 900;
    text-transform: uppercase;
}
::selection{
    background-color: #000;
    color: #fff;
}